{% extends 'base.html' %}

{% block content %}
    <div class="container pt-4">
        <div class="row justify-content-between mx-1">
            <h2>Bookings</h2>
            <a href="{% url 'create_rentalservice' %}" class="btn btn-primary">Create New Booking</a>
            <a href="{% url 'vehicles' %}" class="btn btn-info">Vehicles</a>
        </div>

        <table class="table table-striped table-hover mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Pickup Address</th>
                    <th>Pickup Date</th>
                    <th>Drop-off Date</th>
                    <th>Start Odometer</th>
                    <th>End Odometer</th>
                    <th>Vehicle</th>
                    <th>Customer Name / Company Name</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr class="clickable-row" onclick="window.location.href='{% url 'rentalservice_details' booking.service_id %}'" style="cursor: pointer;">
                    <td>{{ booking.pickup_street }}, {{ booking.pickup_state }}, {{ booking.pickup_zipcode }}, {{ booking.pickup_country }}</td>
                    <td>{{ booking.pickup_date }}</td>
                    <td>{{ booking.dropoff_date }}</td>
                    <td>{{ booking.start_odometer }}</td>
                    <td>{{ booking.end_odometer }}</td>
                    <td>{{ booking.vehicle_id__classid__class_name }}: {{ booking.vehicle_id__make }} {{ booking.vehicle_id__model }}</td>
                    {% if booking.cust_id__corpcust__company_name %}
                        <td>{{ booking.cust_id__corpcust__company_name }}, {{ booking.cust_id__corpcust__company_no }}</td>
                    {% else %}
                        <td>{{ booking.cust_id__indivcust__lname }}, {{ booking.cust_id__indivcust__fname }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}