{% extends 'wow/base_form.html' %}

{% block form %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Create Vehicle</h2>
                </div>
                <div class="card-body">
                    <form method="POST" class="my-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Create Booking</button>
                        <a href="{% url 'bookings' %}" class="btn btn-outline-dark">Back to Bookings</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock form %}
